@font-face {
    font-family: "first";
    src: url('../fonts/SF-Pro-Display-Regular.otf') format("truetype");
}

@font-face {
    font-family: "second";
    src: url('../fonts/SF-Pro-Display-Semibold.otf') format("truetype");
}

/* Для браузеров на базе WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 2px; /* Ширина вертикального скроллбара */
    height: 2px; /* Высота горизонтального скроллбара */
}

::-webkit-scrollbar-track {
    background: #1C1C1E; /* Цвет трека скроллбара */
}

::-webkit-scrollbar-thumb {
    background: #1C1C1E; /* Цвет ползунка скроллбара */
    border-radius: 10px; /* Скругленные углы ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}
/* Для Firefox */
html {
    scrollbar-width: thin; /* Устанавливает тонкий скроллбар */
    scrollbar-color: #1C1C1E #1C1C1E; /* Цвет ползунка и трека */
}
:root{
    --first-font: "first", sans-serif;
    --second-font: "second", sans-serif;
    --site-font: "Inter", serif;
    --image-url-stars-icon:url('data:image/svg+xml,%3Csvg%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22m6.02%204.99%202.21-4.42c.25-.51.86-.72%201.37-.46.2.1.36.27.46.47l2.08%204.26c.17.34.5.58.88.63l4.36.52c.59.08%201.02.62.95%201.22-.03.24-.14.47-.32.65l-3.45%203.42c-.14.13-.2.33-.18.53l.57%204.61c.09.66-.38%201.27-1.03%201.35-.25.03-.5-.02-.72-.14l-3.64-2c-.26-.14-.58-.15-.85-.01l-3.77%201.95c-.53.27-1.18.06-1.45-.48-.11-.2-.14-.43-.11-.65l.3-2.12c.15-1.04.79-1.93%201.71-2.41l4.19-2.15c.11-.06.15-.2.1-.31-.05-.09-.14-.14-.24-.12l-5.12.74c-.78.11-1.58-.11-2.19-.62l-1.71-1.4c-.49-.4-.56-1.12-.17-1.62.19-.22.45-.37.74-.41l4.38-.57c.28-.03.52-.21.65-.46z%22%2F%3E%3ClinearGradient%20id%3D%22b%22%20x1%3D%2225%25%22%20x2%3D%2274.92%25%22%20y1%3D%22.825%25%22%20y2%3D%22107.86%25%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23ffd951%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23ffb222%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22c%22%20x1%3D%2250%25%22%20x2%3D%2250%25%22%20y1%3D%220%25%22%20y2%3D%2299.8%25%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23e58f0d%22%2F%3E%3Cstop%20offset%3D%22.9996%22%20stop-color%3D%22%23eb7915%22%2F%3E%3C%2FlinearGradient%3E%3Cfilter%20id%3D%22d%22%20height%3D%22110.6%25%22%20width%3D%22110.3%25%22%20x%3D%22-5.2%25%22%20y%3D%22-5.3%25%22%3E%3CfeOffset%20dx%3D%221%22%20dy%3D%221%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetInner1%22%2F%3E%3CfeComposite%20in%3D%22shadowOffsetInner1%22%20in2%3D%22SourceAlpha%22%20k2%3D%22-1%22%20k3%3D%221%22%20operator%3D%22arithmetic%22%20result%3D%22shadowInnerInner1%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowInnerInner1%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%201%200%200%200%200%201%200%200%200%200%201%200%200%200%200.657%200%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%281.389%201.389%29%22%3E%3Cuse%20fill%3D%22url%28%23b%29%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23d%29%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20stroke%3D%22url%28%23c%29%22%20stroke-width%3D%22.89%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    --image-url-ton-btn-icon:url('data:image/svg+xml,%3Csvg%20height%3D%2219%22%20viewBox%3D%220%200%2015%2019%22%20width%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m1.74%204.5h11.51c.24%200%20.44.2.44.44%200%20.08-.02.15-.05.22l-5.46%209.9c-.24.43-.78.59-1.21.35-.15-.08-.27-.21-.36-.36l-5.26-9.9c-.12-.21-.04-.48.18-.6.07-.03.14-.05.21-.05zm5.76%2010.67v-10.67z%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.5%22%2F%3E%3C%2Fsvg%3E')
}
a {
    outline: none; /* Убирает обводку */
}
.link_menu,.link_menu_active, a{
    -webkit-tap-highlight-color: transparent;
}
a:focus,
select:focus,
select:active,
a:active {
    outline: none; /* Убирает обводку для активного и фокусного состояния */
    box-shadow: none; /* Если обводка создается тенями */
}
body{
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    background: #1C1C1E;
    font-family: var(--first-font);
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Автоматически скрывающийся скроллбар */
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none; /* Отключает скролл при взаимодействии */
    touch-action: manipulation; 
}
a{
    text-decoration: none;
}
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
a:active, a:focus {
	outline: none;
}
a::-moz-focus-inner {
	border: 0;
}
input, textarea {border:0;outline:0;}
input:focus,textarea:focus {outline:none!important;}

.avatar_user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main_content{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 100px;
}

.header_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.page_site_{
    display: none;
    flex-direction: column;
    align-items: center;
}
._about_app{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400.3;
    max-width: 600px;
}
._logo_s{
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    color: black;
}
.list_my_tickets{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
#dot_1{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #1c1c1e;
    border-radius: 50%;
    left: 0;
    transform: translateX(-15px);
}
#dot_2{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #1c1c1e;
    border-radius: 50%;
    transform: translateX(15px);
    right: 0;
}
.ticket_data{
    width: calc(33% - 10px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #007AFF;
    height: 75px;
    border-radius: 12px;
}
#num_ticket{
    position: absolute;
    color: white;
    font-weight: bold;
}
.real_line {
    position: absolute;
    width: 0%;
    height: 20px;
    border-radius: 20px;
    left: 0;
    background: linear-gradient(45deg, #007aff, #3e9aff);
    overflow: hidden;
    max-width: 100%;
}
.info_how_get_tickets{
    display: flex;
    padding: 16px;
    background: #1f1f21;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    color: rgb(68, 68, 73);
}
.info_how_get_tickets>span>svg{
    margin-left: 3px;
    transform: translateY(1px);
    margin-right: 3px;
}
.info_how_get_tickets>span>span#stars_t{
    color: #feb21c;
}
.info_how_get_tickets>span>span#ticket_t{
    color: white;
}
.auto_variants_buy_cont{
    display: flex;
    border-radius: 8px;
    width: 100%;
    color: #feb21c;
    font-size: 14px;
    scrollbar-width: none;
    overflow-y: auto;
    justify-content: space-between;
    gap: 8px;
}
.auto_variants_buy_max{
    background: #007aff !important;
    color: white !important;
    font-weight: bold !important;
}
.auto_variants_buy{
    display: flex;
    align-items: center;
    gap: 2px;
    background: #feb21c1a;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}
.auto_variants_buy_5000{
    display: none;
}
.real_line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 0px,
        rgba(255, 255, 255, 0.2) 10px,
        transparent 10px,
        transparent 20px
    );
    animation: moveStripes 10s linear infinite;
    -webkit-animation: moveStripes 10s linear infinite; /* Добавляем префикс */
}

@-webkit-keyframes moveStripes {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes moveStripes {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


.goal_text{
    z-index: 1;
    color: white;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
}
.progress_bar{
    background: rgb(31, 31, 33);
    justify-content: center;
    padding: 2px 0px;
    display: flex;
    border-radius: 20px;
    position: relative;
    align-items: center;
}
.block_giveaway{
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    flex-direction: column;
    background: linear-gradient(rgba(44, 44, 46, 0.8), rgba(44, 44, 46, 0.8)), url(../assets/bg/market_pattern.png);
    border-radius: 10px;
    display: flex;
    gap: 16px;
}
#block_for_sticker{
    width: 200px;
}
.name_giveaway{
    font-size: 24px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}
.body_site{
    background: white !important;
    font-family: var(--site-font) !important;
    overflow: auto;
}
._t_com{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    display: flex;
     flex-direction: column;
}
._t_com>span{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400.3;
}
._btn_fo_com{
    border-radius: 40px;
    cursor: pointer;
    padding: 12px 24px;
    background: white;
    display: flex;
    gap: 6px;
    align-items: center;
    width: fit-content;
    font-weight: 700;
    color: #519cfe;
}
._header_com{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
._tg_channel{
    margin-top: 50px;
    border-radius: 24px;
    padding: 28px 32px;
    background: linear-gradient(90.41deg,#458cfe -0.8%,#7dd8fd 126.74%);
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 32px;
    width: calc(100% - 64px);
}
._bm_tex{
    color: white;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400.3;
}
._count_com{
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
._c_com{
    display: flex;
    align-items: center;
    padding: 20px 18px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background: white;
    font-weight: 600;
    font-size: 24px;
}
._bottom_com{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}
.site_fixed_header{
    display: flex;
    padding: 16px 40px;
    justify-content: space-between;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    background: #fffc;
    width: calc(100% - 80px);
    align-items: center;
    z-index: 1;;
}
._support_s{
    display: flex;
    font-weight: 600;
    gap: 6px;
    align-items: center;
    color: black;
    width: 150px;
    justify-content: end;
}
.mobile_nav{
    display: none;
}
.content_avatar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
._nav_s{
    display: flex;
    justify-content: center;
    gap: 6px;
}
._nav_link_s{
    padding: 6px 12px;
    border-radius: 10px;
    transition: background .2s ease-in-out;
    display: flex;
    font-weight: 600;
    align-items: center;
    color: black;
    cursor: pointer;
}
._nav_link_s:hover{
    background: rgba(188, 152, 187, 0.07);
}
.user_id{
    border: 2px solid #1c1c1e;
    border-radius: 100px;
    padding: 0px 8px;
    background: #8E8E93;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: translateY(-15px);
}

.username{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.wallet_buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 12px;
    gap: 16px;
}

.name_content{
    margin-top: -15px;
}

.send_tokens_btn, .recive_tokens_btn, .btn_stars_to_account, .btn_stars_to_usdt{
    width: 100%;
    background: #007aff;
    color: white;
    font-weight: 500;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
}

.btn_accept_transaction{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    position: fixed;
    width: calc(100% - 50px);
    bottom: 35px;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_btn{
    position: absolute;
    left: 16px;
    top: 16px;
    background: #2c2c2e;
    display: flex;
    border-radius: 50%;
    padding: 3px;
}
.bottom_menu{
    position: absolute;
    backdrop-filter: blur(2px);
    background: rgba(30, 30, 30, 0.75);
    width: calc(100% - 32px);
    bottom: 0;
    display: flex;
    padding: 16px;
      padding-bottom: 16px;
    padding-bottom: 16px;
    padding-bottom: 26px;
    justify-content: space-between;
    align-items: center;
}

.href_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    gap: 5px;
    color: white;
    opacity: 0.5;
    width: 100%;
}

.href_menu>svg{
    fill: white;
}

.href_menu.active{
    color: #007aff !important;
    opacity: 1;
}
.href_menu.active>svg{
    fill: #007aff !important;
}

.finance_content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.token_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: #2c2c2e;
    border-radius: 10px;
}

.data_token{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

.balance_token{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: end;
}

.real_balance{
    color: white;
}

.balance_in_usdt{
    font-size: 10px;
    color: #8E8E93;
}
.site_header{
    background: #2c2c2e;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}
.token_ton>.name_token{
    color: #35aff1;
}
.site_actions_btn_header{
    display: flex;
    gap: 12px;
    align-items: center;
}

.site_logo{
    display: flex;
    gap: 8px;
    background: #feb21c1c;
    padding: 8px;
    border-radius: 8px;
    color: #feb21c;
    font-weight: bold;
    font-size: 16px;
}

.token_usdt>.name_token{
    color: #009393;
}

.token_star>.name_token{
    color: #feb21c;
}
.name_token{
    font-weight: 600;
}
.star_logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #feb21c1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history_transaction_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 17px;
    color: #007aff;
}

.header_market{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.text_header_market{
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.about_market_text{
    font-size: 17px;
    color: #8E8E93;
}

.list_market_items{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.block_item_market{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2c2c2e;
    padding: 16px;
    border-radius: 12px;
    gap: 16px;
    width: calc(50% - 36px);
    background: linear-gradient(rgba(44, 44, 46, 0.8), rgba(44, 44, 46, 0.8)), url(../assets/bg/market_pattern.png);
}

.btn_open_page_item{
    border-radius: 100px;
    padding: 6px 16px;
    background: #007aff;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
}

.name_market_item{
    font-weight: 600;
    font-size: 17px;
    color: white;
}

.image_market_item{
    width: 128px;
    height: 128px;
}

#product{
    background: linear-gradient(rgba(44, 44, 46, 0.8), rgba(44, 44, 46, 0.8)), url(../assets/bg/market_pattern.png);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    border-radius: 16px;
}
#product>svg{
    width: 267px !important; 
    height: 267px !important;
}
.name_product{
    font-size: 24px;
    color: white;
    font-weight: 600;
}
.block_product_market{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.inputs_block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input_def{
    padding: 16px;
    border-radius: 8px;
    width: calc(100% - 32px);
    background: #29292b;
    color: white;
    font-size: 17px;
}
.blue_btn_def{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    position: fixed;
    width: calc(100% - 50px);
    bottom: 35px;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_product{
    font-size: 17px;
    color: #8E8E93;
}

.rule_text_inspect{
    color: #007aff;
}

.content{
    overflow: auto;
    max-height: 100vh;
}

.block_qr_deposite{
    display: flex;
    justify-content: center;
}

.qr_img{
    width: 200px;
    padding: 16px;
    background: white;
    border-radius: 12px;
}

.important_text{
    color: #007aff;
}

.data_pay{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.block_data_address{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name_data_adderss{
    color: white;
    font-size: 14px;
}
.info_order{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.block_down_actions{
    display: flex;
    gap: 16px;align-items: center;
    justify-content: center;
}
.supp_{
    display: none;
}
.btn_cancel_order, .btn_success_order, .btn_i_send_gift_order{
    width:calc(100% - 32px);
    background: #007aff;
    color: white;
    font-weight: 500;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
    display: none;
}
.btns_order{
    display: flex;
    gap: 16px;
}

.btn_cancel_order{
    background: #ff0000ad !important;
}
.inp_order{
    padding: 16px;
    border-radius: 12px;
    background: #2c2c2e;
    font-size: 14px;
    color: #8E8E93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    word-wrap: anywhere;
}
.data_copu{
    padding: 16px;
    border-radius: 12px;
    background: #2c2c2e;
    font-size: 14px;
    color: #8E8E93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.data_copu.clicked {
    opacity: 0.7;
    transition: opacity 0.150s linear;
}
.data_copu>svg{
    min-width: 20px;
}
.address{
    word-wrap: anywhere;
}
.block_inp_sent{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name_sent, .name_select{
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.fee_sum{
    color: #007aff;
    font-size: 10px;
}


#duck_accepts{
    width: 200px;
    margin-bottom: 75px;
}

.modal_accept_transaction {
    height: 100vh;
    background: #0000004f;
    position: absolute;
    transform: translate(-16px, -16px); /* Начальная позиция ниже экрана */
    width: 100%;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}

.modal_accept_transaction.show {
    transform: translate(-16px, -16px); /* Позиция на экране при открытии */
    backdrop-filter: blur(2px);
}

.content_modal_accept_transaction {
    display: flex;
    flex-direction: column;
    background: #29292b;
    width: calc(100% - 32px);
    position: absolute;
    z-index: 09999;
    bottom: 0;
    border-radius: 20px;
    align-items: center;
    gap: 16px;
    padding: 16px;
    transform: translateY(100%); /* Начальная позиция контента */
    transition: transform 0.3s ease-in-out;
}
.header_info_token{
    padding: 16px;
    background: #2c2c2e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.data_token_his{
    display: flex;
    gap: 16px;
    align-items: center;
}
.logo_token{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #feb21c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
}
.history_token_{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.body_token_history{
    display: flex;
    padding: 16px;
    background: #232325;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.data_h_tok{
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
}
.summ_token_trans.false{
    color: red;
}
.summ_token_trans.true{
    color: limegreen;
}
.data_token_his>svg{
    min-width: 50px;
    min-height: 50px;
}
.desct_token{
    color: #8E8E93;
}

.btns_actions_tokens{
    display: flex;
    gap: 16px;
}

.modal_accept_transaction.show .content_modal_accept_transaction {
    transform: translateY(0); /* Позиция контента при открытии */
}

.close_modal_accept_transaction {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.comission_transaction{
    font-weight: 500;
    font-size: 14px;
    color: #007aff;
    text-align: center;
}
.close_modal_accept_transaction{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.max_sum, .btn_inp_me{
    color: white;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 16px;
    background: #007aff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
}

.rules{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    font-size: 14px;
}

.inp_w_max{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.inps_sent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.double_inps{
    display: flex;
    gap: 16px;
}

.sent_cryptos_block{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.ch_crypro{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #29292b;
    padding: 8px;
    width: 100%;
    justify-content: center;
    color: white;
    opacity: 0.4;
}
.ch_crypro.active{
    opacity: 1;
}

.ch_usdt{
    color: #009393;
}
.ch_ton{
    color: #35aff1;
}
.block_inp_sell_{
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.block_recive_usdt_for_sell{
    padding: 16px;
    border-radius: 8px;
    width: 100px;
    background: #29292b;
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-weight: 600;
    min-width: 100px;
    max-width: 100px;
}

.sell_inputs{
    display: flex;
    flex-direction: row;
    gap: 16px !important;
    justify-content: space-between;
    align-items: center;
}

.sum_sell_stars{
    width: calc(100% - 32px) !important;
}

.count_rec_usdt{
    color: #8E8E93;
}
.duration_premium{
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.choose_duration{
    padding: 16px;
    background: #29292b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    gap: 4px;
    opacity: 0.3;
}

.choose_duration.active{
    opacity: 1;
    background: #007aff;
}

.blocks_search_username{
    position: relative;
    display: flex;
    justify-content: center;
}

.block_search_username{
    display: flex;
    padding: 8px 16px;
    background: linear-gradient(90deg,#87353536 98.5%, #f00);
    border-radius: 8px;
    gap: 8px;
    align-items: center;
    position: absolute;
    color: red;
    font-size: 17px;
    transform: translateY(-61px);
    backdrop-filter: blur(3px);
    width: fit-content;
    transition: 0.2s all linear;
    opacity: 0;
}

.avatar_search{
    width: 40px;
    border-radius: 50%;
    display: none;
}
#not_found_avatar{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: #ad0000;
}

.block_search_username.found>#not_found_avatar{
    display: none !important;
}

.block_search_username.found>.avatar_search{
    display: inline !important;
}

.block_search_username.found{
    background: linear-gradient(90deg,#4f873536 98.5%, #00ff70) !important; 
    color: #00ff4c !important;
}
.str_ref{
    display: flex;
    width: 100%;
    gap: 16px;
}

#id_duck_ref{
    width: fit-content;
    display: flex;
}

.percent_block{
    width: 100%;
    padding: 16px;
    background: #2c2c2e;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #007aff;
}

.block_duck_ref{
    width: 100%;
    padding: 10px;
    background: #2c2c2e;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count_referrals, .total_profit{
    width: 100%;
    background: #2c2c2e;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #8E8E93;
    font-size: 17px;
}
#profit_refs, #people_refs{
    color: white !important;
}
.btn_send_ref_link{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: calc(100% - 20px);
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent_block{
    display: flex !important;
    flex-direction: column !important;
    gap: 4px !important;
}

.percent_block>span{
    font-size: 20px;
}

.big_n {
    font-size: 20px;
    color: #007aff;
}

.num_rule{
    color: #007aff;
    font-weight: bold;
}
.block_create_check{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: #2c2c2e;
    border-radius: 10px;
}
.btn_create_check{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: calc(100% - 20px);
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_check{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}
.select_def_block{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    position: relative;
    min-width: 110px;
    max-width: 110px;

}
.select_def_block > select {
    background: #262627;
    border-radius: 10px;
    color: white;
    text-align: center !important;
    border: none;
    padding: 16px !important;
    font-size: 18px !important;
    -webkit-appearance: none; /* Для Safari и других вебкитов */
    appearance: none;         /* Общий сброс для всех браузеров */
  }

  .select_def_block::after {
    content: "▼"; /* Используйте символ стрелки */
    font-size: 12px;
    color: white;
    position: absolute;
    right: 16px; /* Отступ от правого края */
    pointer-events: none; /* Стрелка не перекрывает взаимодействие с select */
}

.list_checks{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.block_check{
    display: flex;
    flex-direction: column;
    background: #2c2c2e;
    border-radius: 10px;
    padding: 16px;
    gap: 16px;
}
.btn_go_market_gift{
    width: calc(100% - 32px);
    background: #007aff;
    color: white;
    font-weight: 500;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
}
.btn_go_market_gift.hidebtn{
    opacity: 0.4;
}
.fake_inp{
    padding: 16px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
    background: #262627;
}
.btns_check{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.btn_repost_check{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hold_usdt_block{
    padding: 16px;
    background: rgba(255, 183, 120, 0.1);
    border-radius: 10px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    color: #ffab78;
}
.warn_{
    color: red;
    margin-left: 4px;
    background: #99333357;
    padding: 1px 7px;
    border-radius: 5px;
}
.hold_data{
    display: flex;
    gap: 8px;
    align-items: center;
}
.actions_gift_market{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.block_gift_market{
    padding: 16px;
    background: #2c2c2e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
#animation_sell_gifts, #animation_beta2, #animation_beta1{
    width: 220px;
}
.del_check{
    border-radius: 12px;
    padding: 10px;
    background: #A90000;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_stars_checks_{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block_star_check_{
    display: flex;
    flex-direction: column;
}

.header_check{
    background: #2c2c2e;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.choose_gift_block{
    display: flex;
    gap: 16px;
    border-radius: 10px;
    justify-content: space-between;
}
.name_gift_sell{
    color: white;
}
.choose_gift{
    padding: 16px;
    border-radius: 10px;
    background: #29292b;
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.offer_block_create{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.choose_comission_payer{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}
.chose_com{
    padding: 16px 10px;
    background: #29292b;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0.4;
    font-size: 14px;
}
.active_order_block{
    padding: 16px;
    border-radius: 8px;
    justify-content: space-between;
    width: calc(100% - 32px);
    background: linear-gradient(130deg,#29292b,#ff830017);
    color: #ff8300;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 8px;
    display: none;
}
.data_active_btn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn_create_offer{
    width: calc(100% - 32px);
    background: #007aff;
    color: white;
    font-weight: 500;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
}
.chose_com.active{
    background: #007aff;
    color: white;
    opacity: 1;
}
.choose_gift.active{
    opacity: 1;
}
.instruction_for_sale_gift{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #929292;
    background: #29292b;
    padding: 16px;
    border-radius: 10px;
}
.instruction_for_sale_gift>.table{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.white_span{
    color: white !important;
}
.dop_photo_for_instruction{
    display: flex;
    gap: 16px;
    width: 100%;
}
._s_modal_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
._s_close_modal{
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}
._s-lb{
    font-weight: 700;
    font-size: 18px;
}
.dop_photo_for_instruction>img{
    width: 100%;
    border-radius: 10px;
    width: calc(50% - 8px);
}
.btns_sell_gifts{
    display: flex;
    gap: 16px;
}
.btn_send_gift, .btn_i_send_gift{
    width: 100%;
    background: #007aff;
    color: white;
    font-weight: 500;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
}
.btn_i_send_gift{
    opacity: 0.4;
}
.icon_check{
    display: flex;
    align-items: center;
    color: white;
    gap: 4px;
    font-weight: bold;
}
.icon_check>svg{
    fill: #007AFF;
}
.actions_check{
    display: flex;
    gap: 16px;
}
.none_users_activate_check{
    padding: 16px;
    text-align: center;
    color: #2C2C2E;
    border: 2px dashed;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}
.list_users_activate{
    display: flex;
    flex-direction: column;
    border: 2px solid #2c2c2e;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}
.block_user_activate{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 2px solid #1c1c1e;
    border-radius: 10px;
}
.data_user_activate{
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
    font-size: 16px;
}
.avatar_activate{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profit_activate{
    display: flex;
    gap: 4px;
    align-items: center;
    color: #feb21c;
}
.modal_check, .modal_offer{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}
.content_modal_check, .content_modal_offer{
    background: #1C1C1E;
    border-radius: 10px;
    padding: 16px;
    width: 300px;
    margin-top: 50px;
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.close_check_modal{
    color: white;
    position: absolute;
    right: 16px;
    cursor: pointer;
}
#duck_free{
    width: 175px;
}
.close_offer_modal{
    color: white;
    position: absolute;
    right: 16px;
    cursor: pointer;
    transform: translate(35px,-55px);
    padding: 3px 8px;
    border-radius: 3px;
    background: #f00;
}
.activate_check_btn,.activate_offer_btn{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: calc(100% - 20px);
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass_check_inp{
    display: none;
}
.left_info_block{
    display: flex;
    gap: 16px;
}
#info_svg{
    width: 30px;
}
.info_block_home{
    position: absolute;
    bottom: 100px;
    border-radius: 14px;
    padding: 9px 16px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 64px);
    margin-left: 16px;
}
.data_info_block{
    display: flex;
    flex-direction: column;
}
.name_info_block{
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.more_info_block{
    font-weight: 400;
    font-size: 14px;
    color: white;
}
.btn_view{
    font-weight: 400;
    font-size: 17px;
    color: #5AC8FA;
}
.banner_site {
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
    margin-bottom: 50px;
}

.def_word {
    font-size: 64px;
    font-weight: 700;
}

/* Основной стиль для печатного текста с градиентной заливкой */
.change_word {
    background: linear-gradient(88.93deg, #1F98E8 18.91%, #02D0DE 79.91%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    font-size: 112px;
    font-weight: 700;
    line-height: 96px;
    min-height: 1em;
}
._s_modal{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
    overflow: auto;
}
._s_modal_content{
    top: 50%;
    margin-top: 0px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    width: calc(100% - 70px);
    max-width: 600px;
    border-radius: 12px;
    padding: 20px;
    background: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
._s-bodu_mdla{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
._s_contai_-{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
}
._s-def_inp{
    background: #f7f9fb;
    padding: 16px;
    border-radius: 8px;
    color: black;
    width: calc(100% - 32px);
    font-size: 17px;
}
._s_name_inp_error{
    font-size: 12px;
    color: red;
    display: none;
}
.btn_s_go_pay{
    border-radius: 12px;
    padding: 10px;
    background: #007AFF;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 17px;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
._btns{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}
._s_bl_api{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
    margin: 0 auto;
      margin-top: 0px;
    margin-top: 100px;
}
._btn_wal{
    padding: 16px 32px;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,opacity .2s ease-in-out;
    cursor: pointer;
    color: black;
    border: 1.5px solid #e9eef1;
    border-radius: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
._s_mobilex{
    margin-top: 70px;
    border-radius: 24px;
    padding: 0px 16px;
    margin-bottom: 32px;
    display: flex;
    max-width: 1000px;
    gap: 32px;
    width: calc(100% - 64px);
    flex-wrap: wrap;
}
.phone_cont_s{
    display: flex;
    flex-direction: column;
    background: rgba(7, 172, 255, 1);
    padding: 28px 28px 0 32px;
    border-radius: 24px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 312px;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}
._s_phone_img{
    width: 75%;
}
.phone_cont_s.black{
    background: #1E2531 !important;
}
._s_ogl{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: white;
    display: flex;
    gap: 4px;
    align-items: center;
}
.descr_s_{
    font-weight: 400.3;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-align: center;
}
._s_ogl>svg{
    width: 18px;
    height: 18px;
}
._btn_wal:hover{
    background: #f7f9fb;
}
.change_word::after {
    content: ''; /* Убираем жирный текст, заменяя тонкой линией */
    position: absolute;
    right: -4px; /* Расстояние от текста до курсора */
    width: 2px; /* Устанавливаем ширину курсора */
    height: 1em; /* Высота равна высоте текста */
    background-color: #1F98E8; /* Цвет курсора (можно градиент, если хотите) */
    animation: blinkCursor 0.8s infinite;
  }
.container_buy_inp{
    display: flex;
    gap: 10px;
}
.choose_token{
    border-radius: 8px;
    display: flex;
    gap: 8px;
    font-weight: 600;
}
.select_tok_ton{
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background: #29292b;
    opacity: 0.3;
}
.select_tok_ton.active{
    opacity: 1;
}
@keyframes blinkCursor {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}  
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
@media (max-width: 1100px) {
    ._tg_channel{
        max-width: calc(100% - 64px);
  width: calc(100% - 128px);
    }
    ._s_mobilex{
        display: none;
    }
}
@media (max-width: 900px) {
    .def_word{
        font-size: 50px;
    }
    .change_word{
        line-height: 75px;
        font-size: 70px;
    }
    .banner_site{
        margin-top: 110px;
    }
    ._about_app{
        max-width: 500px;
        font-size: 18px;
    }
}
@media (max-width: 750px) {
    .site_fixed_header{
        padding: 8px 16px;
        width: calc(100% - 32px);
        position: relative;
    }

    ._s_bl_api{
        width: calc(100% - 32px);
    }
    
    ._about_app {
        max-width: 400px;
        font-size: 16px;
    }
    .banner_site{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .def_word{
        font-size: 40px;
    }
    .change_word{
        line-height: 55px;
        font-size: 50px;
    }
    ._logo_s>svg{
        width: 24px;
        height: 24px;
    }
    ._logo_s{
        font-size: 16px;
    }
    ._support_s>svg{
        width: 20px;
        height: 20px;
    }
    ._support_s{
        font-size: 14px;
    }
    ._nav_s{
        display: none;
    }
    .mobile_nav{
        display: flex;
        margin-top: 14px;
        padding: 0px 16px;
        width: calc(100% - 32px);
    }
    .mobile_nav>._nav_s{
        display: flex;
        gap: 8px;
        width: 100%;
    }
    .mobile_nav>._nav_s>._nav_link_s{
        padding: 8px 5px;
        border-radius: 10px;
        transition: background .2s ease-in-out;
        display: flex;
        align-items: center;
        color: black;
        background: rgba(118,152,187,.07);
        font-size: 12px;
        font-weight: 500;
        width: 199%;
        justify-content: center;
    }
    ._btn_wal{
        padding: 13px 26px;
    }
    ._tg_channel {
        max-width: calc(100% - 64px);
        width: calc(100% - 90px);
        margin-bottom: 16px;
      }
}
@media (max-width: 450px) {
    .def_word {
        font-size: 35px;
    }
    ._bottom_com{
        align-items: center;
    }
    .change_word {
        line-height: 50px;
        font-size: 45px;
    }
    .banner_site {
        margin-top: 35px;
    }
    ._about_app{
        max-width: calc(100% - 32px);
        gap: 16px;
    }
    ._btns{
        gap: 16px;
    }
    ._btn_wal{
        font-size: 14px;
        padding: 11px 22px;
    }
}